

.choices {
    padding: 25px;
    margin: 25px;
    border-radius: 20px;
    background: lightgray;

}

#question {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 36px;
}



#button-row {
    font-size: 36px;
    
}

p {
    font-size: 60px;
}

.game-buttons {
    font-size: 24px;
    background: lightgrey;
    margin-left: 24px;
    margin-right: 24px;
}

#scores {
    font-size: 36px;
    background: lightgray;
    border-radius: 20px;

}